.category-container {
  height: 200px;
  width: 80%;
  margin: 50px auto;
}

h2 > span {
  color: var(--blue);
}

.item-list {
  display: flex;
}

.item-list li {
  margin: 30px;
}

.item-list li div {
  text-align: center;
  font-weight: bold;
  color: var(--black);
  margin-top: 10px;
}
