.product {
  width: 266px;
  height: 350px;
  margin-top: 50px;
  margin-right: 50px;
  border-radius: 10px;
}

.product-image {
  background-color: #c0bebe;
  width: 266px;
  height: 200px;
  border-radius: 10px;
}

.seller-name {
  font-size: 13px;
  color: var(--dim-black);
  font-weight: bold;
  margin: 10px 0;
}

.product-name {
  color: var(black);
  font-weight: bold;
}

.product-right {
  float: right;
}

.product-price {
  font-weight: bold;
}
